<!doctype html>
<html ng-app="vToolsApp">
	<head>
		<link rel="stylesheet" href="app.css">
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
		<script src="app.js"></script>
	</head>
	<body>
		<h2>vTools</h2>
		<div ng-controller="vToolsController as vTools">
			<!-- <span>{{vTools.remaining()}} of {{vTools.todos.length}} remaining</span> -->
			<!-- [ <a href="" ng-click="vTools.archive()">archive</a> ] -->

			<div class="video-wrapper">
				<video src="http://grochtdreis.de/fuer-jsfiddle/video/sintel_trailer-480.mp4" id="video"></video>
				<div class="timeline">
					<div ng-repeat="clip in vTools.clips" ng-click="vTools.playClip(clip.id)" ng-show="!clip.readOnly" class="{{clip.isPlaying ? 'current' : ''}}" style="left:{{clip.timelineClipLeft}}%;width:{{clip.timelineClipWidth}}%">
						<span>{{clip.title}}</span>
					</div>
				</div>
			</div> 

			<h3>Current clips</h3>
			<span class="legend">
				<span>[</span> to jump to previous clip, <span>]</span> to jump to next, <span>a</span> to turn {{vTools.autoAdvance ? 'off' : 'on'}} auto-advance.
			</span>
			<table border="0" cellpadding="0" cellspacing="0">
				<tr>
					<th>Clip</th>
					<th>Title</th>
					<th>Start time</th>
					<th>End time</th>
					<th>Actions</th>
				</tr>
				<tr ng-repeat="clip in vTools.clips" class="{{clip.isPlaying ? 'current' : ''}}">
					<!-- <label class="checkbox"> -->
						<!-- <input type="text" ng-model="todo.done"> -->
						<td>
							<span>{{$index + 1}}</span>
						</td>
						<td>
							<span ng-model="clip.title" ng-show="!clip.edit">{{clip.title}}</span>
							<input type="text" ng-show="clip.edit" ng-model="clip.title" placeholder="clip title">
						</td>

						<td>
							<span ng-model="clip.start" ng-show="!clip.edit">{{clip.start}}</span>
							<input type="number" ng-show="clip.edit" ng-model="clip.start" placeholder="start">
						</td>

						<td>
							<span ng-model="clip.end" ng-show="!clip.edit">{{clip.end}}</span>
							<input type="number" ng-show="clip.edit" ng-model="clip.end" placeholder="end">
						</td>

						<td>
							<input type="button" value="play" ng-show="!clip.edit" ng-click="vTools.playClip(clip.id)">
							<input type="button" value="edit" ng-show="!clip.edit && !clip.readOnly" ng-click="clip.edit = true">
							<input type="button" value="delete" ng-show="!clip.readOnly && !clip.edit" ng-click="vTools.removeClip(clip.id)">
							<input type="button" value="save" ng-show="!clip.readOnly && !clip.edit" ng-click="vTools.saveClip(clip.id)">
							<input type="button" value="OK" ng-show="clip.edit" ng-click="vTools.checkFields(clip.id)">
						</td>	
					<!-- </label> -->
				</tr>
			</table>

			<h3>Add new clip</h3>

			<form ng-submit="vTools.addClip()">
				<input type="text" ng-model="vTools.title" placeholder="clip title">
				<input type="number" ng-model="vTools.start" placeholder="start">
				<input type="number" ng-model="vTools.end" placeholder="end">
				<input type="submit" value="add">
			</form>
		</div>
	</body>
</html>